.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
  }
  
.confirmation-dialog-message {
    color:black;
    font-size: 20px;
    margin-bottom: 20px;
  }
.confirmation-dialog-buttons {
    display: flex;
    justify-content: center;
  }
.confirmation-dialog-button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
.cancel{
    background-color: #e0e0e0;
    border-color: #e0e0e0;
  color: #333;

}
.confirm{
    background-color: #F08080;
    border-color: #F08080;
  color: white;

}