.button{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #FFC6C6 ;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border:none;
    font-weight: bold;
    text-align: center;
}
.button:hover{
    background-color: #f9adad;
    translate: 0px -2px;
}