@import url('https://fonts.googleapis.com/css?family=Roboto:400');
.mainPostView{
    position: relative;
    width:75%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.postTitle{
    top:10px;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}
.postView{
    padding-left: 10px;
    padding-right: 10px;
    background-color:white;
    margin-top:20px;
    margin-bottom: 20px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    border-left-style: solid;
    border-left-color: #F08080;
    border-left-width:  5px;
    border-right-style: solid;
    border-right-color: #F08080;
    border-right-width:  5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
}
.profilePhoto{
    width:50px;
    height:50px;
    border-radius:50px;
}
.username{
    align-content:'center';
    margin-left:10px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight:600;
}
.imageView{
    display:flex;
    flex-direction:row;
    margin-left:15px;
    align-items:center;
}
.postContent{
    top:10px;
    margin-left:15px;  
    font-family: 'Roboto', sans-serif;             
    font-size: 16px; 
}
.actions{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:40px;
    flex-wrap:nowrap;
    margin-left: 15px;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration-color: #F08080 ;
    color: #F08080;
    margin-bottom: 10px;
}
.action-button{
    color:"white";
    text-decoration-color: "white";
    background-color:#F08080;
    border:#F08080;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    color:white;
    font-weight: 600;
}
.delete{
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #333;
}
.commentView{
    margin-left: 30px;
}
.profilePhotoComment{
    width:50px;
    height:50px;
    border-radius:50px;
}
.usernameComment{
    align-content:normal;
    margin-left:10px;
    font-size:16px;
    font-weight:500;
}
.commentContent{
    color:black;
    text-decoration: none;
    font-size: 16px; 
    margin-left: 75px;
    margin-top: -20px;
}