.body-community{
    background-color: #F2F4F4;
    height: 100vh;
}
.mainPostView{
    width:80%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.postTitle{
    top:10px;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}
.postView{
    position: relative;
    width: 90%;
    background-color:white;
    margin-top:20px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    border: solid 1px;
    border-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.profilePhoto{
    width:50px;
    height:50px;
    border-radius:50px;
}
.username{
    align-content:'center';
    margin-left:10px;
    font-size:16px;
    font-weight:500;
}
.imageView{
    display:flex;
    flex-direction:row;
    margin-left:15px;
    align-items:center;
}
.postContent{
    top:10px;
    margin-left:15px;               
    font-size: 16px; 
}
.actions{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:40px;
    flex-wrap:nowrap;
    margin-left: 15px;
    text-decoration: underline;
    font-weight: 500;
    text-decoration-color: #F08080 ;
    color: #F08080;
}