body{
    background-color: white;
  }
  .title1{
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* .users-table {
      margin-top: 5%;
      margin-right: 20%;
      margin-left: 25%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    } */
  
  table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 20%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .button2{
      background-color: #FFC6C6;
      border: #FFC6C6;
      padding: 4%;
      align-content: center;
      width:330px;
  }
  
  th,td {
      padding: 10px;
      text-align:center;
    }
  
  th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  
  tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
  tr:hover {
      background-color: #e5e5e5;
    }