body{
    background-color: white;
  }
  .users-table {
      margin-top: 5%;
      margin-right: 20%;
      margin-left: 25%;
    }
  
  table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 20%;
    }
  
  th,td {
      padding: 10px;
      text-align: center;
    }
  
  th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  
  tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
  tr:hover {
      background-color: #e5e5e5;
    }
    .sidebar-links{
        margin-top: 20%;
        padding: 0px 0px;
        text-align: center;
        transition: all 0.5s;
        display:flex;
        flex-direction: column;
        gap: 0px;
        margin-top: -10%;
      }
    .link{
        color: black;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        border:solid 1px;
        background-color: white;
        padding: 20px;
      }
    .link:hover{
        color:white;
        background-color: #FFC6C6;
        transition: all 0.5s;
      }