body{
    background-color: white;
  }
  .title1{
    margin-left: 20%;
  }
  .users-table {
      margin-top: 5%;
      margin-right: 20%;
      margin-left: 25%;
    }
  
  table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 20%;
    }
  
  th,td {
      padding: 10px;
      text-align: center;
    }
  
  th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  
  tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
  tr:hover {
      background-color: #e5e5e5;
    }