.navbar {
    margin-left: 15%;
    display: flex;
    justify-content: end;
    gap:36%;
    align-items: center;
    background-color: #F08080;
    color: white;
    padding: 1.5rem;
    width: 100%;
  }
  