.login-page{
    background-color: #F08080;
    width: 100%;
    height:100%;
    position:fixed;
}
.login-block{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background-color: #F08080;
    height: 100vh;
}

.form-group{
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10%;
}
.logo1{
    height:300px;
    width:300px;
}
.button1{
    position: relative;
    background-color: #FFC6C6;
    border: #FFC6C6;
    padding: 4%;
    align-content: center;
    width:300px;
    border-radius: 10px;
}
.title{
    color:white;
}
.input1-login{
    border-radius: 10px;
    position: relative;
    padding: 4%;
    border: white;
    width: 275px;;
}
.input1-label{
    color: white;
    font-weight: 600;

}