.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #F08080;
    transition: all 0.5s;
  }
.logo{
    height:40%;
    width:100%;
}
.items{
  display:flex;
  flex-direction: column;
}
.items-list{
  display: flex;
  flex-direction: row;
}