.sidebar {
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #F08080;
    transition: all 0.5s;
  }
.logo{
    height:40%;
    width:100%;
}
.items{
  display:flex;
  flex-direction: column;
}
.items-list{
  display: flex;
  flex-direction: row;
}
.sidebar-links{
  margin-top: 20%;
  padding: 0px 0px;
  text-align: center;
  transition: all 0.5s;
  display:flex;
  flex-direction: column;
  gap: 0px;
  margin-top: -10%;
}
.link{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border:solid 1px;
  background-color: white;
  padding: 20px;
}
.link:hover{
  color:white;
  background-color: #FFC6C6;
  transition: all 0.5s;
}