.sidebar {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: #F08080;
    transition: all 0.5s;
  }
.logo{
    height:40%;
    width:100%;
}
.items{
  display:flex;
  flex-direction: column;
}
.sidebar-links{
  position: relative;
  transition: all 0.5s;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.link{
  position: relative;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 10%;
  white-space: nowrap;
  width: 100%;
  align-self: flex-start;
}
.link:hover{
  color:white;
  background-color: #FFC6C6;
  transition: all 0.5s;
}
.category{
  display: flex;
  flex-direction: row;
  justify-content:baseline;
}
.faicon{
  margin-right: 10px;
}
.logout{
  align-self: center;
  margin-top: 10%;
}