body{
    background-color: white;
  }

  .form{
    position: relative;
     margin-left: 20%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #F2F4F4;
     width: 400px;
     height: 500px;
  }
  .input1{
      width:275px;
      padding: 2%;
      margin-bottom: 2%;
      border-radius: 10px;
  }
  .input1:hover{

   translate: 0px -2px;
}
.input1-text{
    margin-left: 5%;
    font-weight: 600;
    align-self: flex-start;
   }